<!--  -->
<div class="container-fluid">

  <div class="row bg-secondary">

    <div class="cow-12 fontText">

      <a routerLink='/inicio' class="text-left  text-white">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> início
      </a>

      <h1 class="fs-54 text-center"> Temas </h1>
      <h5 class="fs-18 text-center">Veja aqui todos os temas cadastrados ou cadastre um novo:</h5>

      <div class="row d-flex justify-content-lg-center mt-4 mb-5">
        <div class="col-md-3">
          <!--
            Para manter mais organizado, vamos usar o form-group, e assim ainda
            ajudar o bootstrap a encontrar ele de forma melhor
          -->
          <div class="form-group">
            <input [(ngModel)]="theme.descricao" type="text" class="form-control mb-2" id="descricao"
              placeholder="Digite a descrição do tema">

            <div class="d-flex justify-content-lg-center ">
              <button class="btn btn-light botaoCadastrar" (click)='cadastrarTheme()'>Cadastrar</button>
            </div>

          </div>
        </div>
      </div>

    </div>


  </div>

</div>


<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <h2>Todos os temas</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">

    <div class="col-md-6">

      <!--Table-->
      <table class="table table-striped table-hover my-5">
        <thead>
          <!--Se eu apago um th e tenho que apagar um td para manter a proporção-->
          <tr>
            <th scope="col" class="text-lg-center">Nº</th>
            <th scope="col" class="text-lg-center">Descrições</th>
            <th scope="col" class="text-lg-center">Modificações</th>
          </tr>
        </thead>
        <tbody class="my-5">
          <tr *ngFor="let theme of listaTheme">
            <th scope="row" class="text-lg-center">{{theme.id}}</th>
            <td class="text-lg-center">{{theme.descricao}}</td>
            <td class="d-flex justify-content-center">
              <!--
                Passamos o [routerLink]="['/tema-edit', theme.id]" para direcionar para
                 a nossa rota e pegar o id no item que está nessa linha.
              -->
              <button class="btn btn-info mx-2" [routerLink]="['/tema-edit', theme.id]"
                routerLinkActive="router-link-active"> Editar </button>
              <button class="btn btn-danger mx-2" [routerLink]="['/tema-delete', theme.id]"
                routerLinkActive="router-link-active"> Apagar </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--/Table-->

    </div>

  </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>