<!--Conteudo principal-->
<div class="container-fluid">

  <!--
    Para dividir a tela em 12 cols temos que usar a class row
  -->

  <div class="row  bg-secondary d-flex align-items-center">

    <div class="col-md-6">

      <!--
      Subdivisão da minha cow em mais 12 cols.
      Passando um d-flex para ajustar as cols em linha.
    -->

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">

          <h1 class="fs-54">Seja bem vindo(a)!</h1>
          <h5 class="fs-18">Deixei aqui a sua opnião e pensamentos..!</h5>

        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6 text-white">

          <button class="btn btn-light m-sm-5" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova
            postagem</button>

          <!-- Passando o id de href das minhas postagens -->

          <a class="btn btn-outline-light" href="#postagens">Ver postagens</a>

        </div>
      </div>


    </div>

    <div class="col-6 d-flex justify-content-center">

      <img src="../../assets/img/Sent Message-bro.png" alt="Mandando mensagem" width="500px" height="500px">

    </div>
  </div>

</div>
<!--/Conteudo principal-->

<!--Nav para ver as postagens-->

<!-- Crinado um id para o container para ser usado como href-->
<div class="container mb-5 mt-5" id="postagens">
  <nav>
    <!--Alinhando as divs-->
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <button class="nav-link active text-secondary fontText my-2" id="nav-todasAsPostagens-tab" data-bs-toggle="tab"
        data-bs-target="#nav-todasAsPostagens" type="button" role="tab" aria-controls="nav-todasAsPostagens"
        aria-selected="true">Todas as
        postagens</button>

      <button (click)='findByIdUser()' class="nav-link text-secondary fontText" id="nav-minhasPostagens-tab"
        data-bs-toggle="tab" data-bs-target="#nav-minhasPostagens" type="button" role="tab"
        aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
        Postagem</button>

      <button class="nav-link text-secondary fontText" id="nav-postagemPorTema-tab" data-bs-toggle="tab"
        data-bs-target="#nav-postagemPorTema" type="button" role="tab" aria-controls="nav-postagemPorTema"
        aria-selected="false">Postagem por tema</button>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-todasAsPostagens" role="tabpanel"
      aria-labelledby="nav-todasAsPostagens-tab">

      <!--Card das postagens-->

      <div class="card-columns py-2 d-flex">
        <div class="card text-center" style="width: 18rem;" *ngFor='let item of listaPostagem'>
          <div class="card-body px-2 ">
            <h5 class="card-title">{{item.titulo}}</h5>
            <small class="text-muted"> Tema: {{item.theme.descricao}}</small>
            <p class="card-text">{{item.text}}</p>

            <!-- Para formatar a data que vem do banco usamos a seguinte anotação. -->

            <p class="card-text"><small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date:
                'HH:mm'}}</small></p>
            <p class="card-text"><small class="text-muted"> by: {{item.usuarioPostagem.nome}}</small></p>
          </div>
        </div>
      </div>

      <!--/Card das postagens-->

    </div>

    <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <!--Card das minhas postagens-->

      <div class="card-columns py-2 d-flex">
        <div class="card text-center" style="width: 18rem;" *ngFor='let item of user.postagem'>
          <div class="card-body px-2 ">
            <h5 class="card-title">{{item.titulo}}</h5>
            <small class="text-muted"> Tema: {{item.theme.descricao}}</small>
            <p class="card-text">{{item.text}}</p>

            <!-- Para formatar a data que vem do banco usamos a seguinte anotação. -->

            <p class="card-text"><small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date:
                'HH:mm'}}</small></p>

            <button [routerLink]="['/postagem-edit', item.id]" class="btn text-info mx-2">Editar</button>
            <button [routerLink]="['/postagem-delete', item.id]" class="btn text-danger mx-2">Apagar</button>
          </div>
        </div>
      </div>

      <!--/Card das minhas postagens-->
    </div>

    <div class="tab-pane fade" id="nav-postagemPorTema" role="tabpanel" aria-labelledby="nav-postagemPorTema-tab">

      <!--Card das postagens por tema-->

      <div class="card-columns py-2 d-flex" *ngFor='let theme of listaTheme'>
        <div class="card text-center" style="width: 18rem;" *ngFor='let item of theme.postagem'>
          <div class="card-body px-2 ">
            <h5 class="card-title">{{item.titulo}}</h5>
            <p class="card-text">{{item.text}}</p>

            <!-- Para formatar a data que vem do banco usamos a seguinte anotação. -->

            <p class="card-text"><small class="text-muted">{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date:
                'HH:mm'}}</small></p>
            <p class="card-text"><small class="text-muted"> by: {{item.usuarioPostagem.nome}}</small></p>
          </div>
        </div>
      </div>

      <!--/Card das postagens por tema-->

    </div>

  </div>
</div>
<!--/Nav para ver as postagens-->

<!--Modal-->
<div class="modal fade " id="novaPostagem" tabindex="-1" aria-labelledby="tituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
        <button type="button" class="btn-close my-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!--Corpo do modal-->
      <div class="modal-body">

        <div class="form-group my-2">
          <label class="mb-1" for="titulo">Titulo</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o Titulo aqui">
        </div>

        <div class="form-group my-2">
          <label class="mb-1" for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.text' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group my-2">
          <label class="mb-1" for="tema">Escolha um Tema ou <a data-bs-dismiss="modal" routerLink='/tema'>cadastre um
              novo:</a></label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTheme' (chenge)='findByIdTheme()'>
            <option *ngFor='let theme of listaTheme' value="{{theme.id}}">{{theme.descricao}}</option>
          </select>


        </div>

      </div>
      <!--/Corpo do modal-->

      <div class="modal-footer">
        <button type="button" class="btn btn-danger my-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success my-2" data-bs-dismiss="modal"
          (click)='publicar()'>Publicar</button>
      </div>
    </div>
  </div>
</div>
<!--/Modal-->