/* You can add global styles to this file, and also import other style files */

/*
  Passando de forma global a conf do scroll para o mesmo vir de forma suave
*/

html {
  scroll-behavior: smooth;
}

/* Como eu vou usar muitas vezes vou por elas como globais. */

.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

.fontText {
  font-weight: bolder;
}
